<div class="container  bg-dark p-3 rounded w-25">
  <div class="row">
    <div class="col">
      <h2 class="cim">Összesítés</h2>
    </div>
  </div>
  <div class="row">
    <div class="col kat">
      Quiz Kategoria
    </div>
    <div class="col score ">
      Elért Pontszám
    </div>
  </div>
  <div *ngFor="let q of quizResults">

    <div class="row">
      <div class="col name">
        {{q.quizName}}
      </div>
      <div class="col quiz_score">
        {{q.score}}
      </div>
    </div>
  </div>
</div>

