.selected{
  background:#D61C4E;
}
.option{
  font-family: cursive;
  font-size: 18px;
  padding: 10px;
  width: 40%;
  border-radius: 35px;
  border: 15px cadetblue;
  cursor: pointer;
}
mat-card-title{


}
mat-card-content{
}
mat-card-header{
  font-family:sans-serif
}
mat-card{
  background: #2D46B9;
  border-radius: 35px;
  padding: 15px;
  margin: 10px;
}
mat-card-image{

}
.correct{
  border: 15px solid aliceblue;
}

